@import "../variables";

nav {
	background-color: $section-bg-color;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 50px;
	position: fixed;
	width: calc(100% - 100px);
	transition: top 0.3s;
	left: 0;
	z-index: 98;

	.logo-name {
		font-size: 1.1rem;
		font-weight: 800;
		text-decoration: none;
	}

	.mobile-only {
		display: none;
	}

	ul {
		display: flex;
		justify-content: center;
		align-items: center;

		li {
			margin-right: 20px;
			list-style: none;

			a {
				text-decoration: none;
				font-weight: 700;
				font-size: 1rem;
				text-transform: uppercase;
				box-shadow: inset 0 0 0 0 $secondary-bg-color;
				padding: 0 0.25rem;
				transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

				&.active,
				&:hover {
					box-shadow: inset 100px 0 0 0 $secondary-bg-color;
					color: white;
				}
			}
		}
	}

	.profile-actions {
		display: flex;
		align-items: center;
		justify-content: center;
		button {
			text-align: center;
			background-color: transparent;
			border: none;
			margin-right: 15px;
		}
	}
}

@media only screen and (max-width: 580px) {
	.no-mobile {
		display: none;
	}

	nav {
		padding: 10px;
		width: calc(100% - 20px);
		.mobile-only {
			display: block;
			margin-right: 20px;
		}

		.profile-actions {
			button {
				margin-right: 10px;
			}
		}
	}
}
