@import "../variables";

nav {
	background-color: $section-bg-color;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 50px;
	position: fixed;
	width: calc(100% - 100px);
	transition: top 0.3s;
	left: 0;
	z-index: 98;

	.logo-name {
		font-size: 1.1rem;
		font-weight: 800;
		text-decoration: none;
	}

	ul {
		display: flex;
		justify-content: center;
		align-items: center;

		li {
			margin-right: 20px;
			list-style: none;

			a {
				text-decoration: none;
				font-weight: 700;
				font-size: 1rem;
				text-transform: uppercase;
				box-shadow: inset 0 0 0 0 $secondary-bg-color;
				padding: 0 0.25rem;
				transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

				&.active,
				&:hover {
					box-shadow: inset 100px 0 0 0 $secondary-bg-color;
					color: white;
				}
			}
		}
	}

	.profile-actions {
		display: flex;
		align-items: center;
		justify-content: center;
		button {
			text-align: center;
			background-color: transparent;
			border: none;
			margin-right: 15px;
		}
	}
}

.mobile-only {
	display: none;
}

@media only screen and (max-width: 580px) {
	.no-mobile {
		display: none;
	}

	nav {
		padding: 10px;
		width: calc(100% - 20px);

		.menu-btn {
			background-color: transparent;
			border: none;
			.mobile-only {
				display: block;
			}
		}

		.profile-actions {
			button {
				margin-right: 10px;
			}
		}
	}

	.mobile-only {
		display: block;
	}

	.mobile-nav {
		position: fixed;
		top: 55px;
		height: 97%;
		width: 100%;
		background-color: #fff;
		z-index: 99;
		left: 0;
		transition: left 0.3s ease-in-out;

		&.hide {
			left: -100%;
		}

		ul {
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			flex-direction: column;
			height: 100%;
			padding-left: 0;

			li {
				margin: 40px 0 40px 40px;
				list-style: none;

				a {
					text-decoration: none;
					font-weight: 700;
					font-size: 2rem;
					text-transform: uppercase;
					box-shadow: inset 0 0 0 0 $secondary-bg-color;
					padding: 0 0.25rem;
					transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

					&.active,
					&:hover {
						box-shadow: inset 200px 0 0 0 $secondary-bg-color;
						color: white;
					}
				}

				&:last-child {
					margin-top: auto;
					width: calc(100% - 80px);
					background-color: $secondary-bg-color;
					margin-left: 0;
					padding: 40px;
					a {
						color: #fff;
					}
				}
			}
		}
	}
}
