@import "./variables";

button {
	&.filter-no-mobile {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: transparent;
		border: none;
		font-size: 1rem;
		max-width: 100px;
	}
}

.filter-no-mobile,
.filter-no-mobile-text {
	display: none;
}

aside {
	margin: 10px;

	h1 {
		font-size: 2.5rem;
		margin-bottom: 10px;
	}

	.filter-btn {
		padding: 2px;
		background-color: transparent;
		border: none;
		font-weight: 700;
		margin: 10px 0;
		display: flex;
		justify-content: center;
		align-items: center;

		p {
			font-size: 1.5rem;
			margin: 0;
		}

		img {
			transition: transform 0.2s ease-in;
		}

		&.open {
			img {
				transform: rotate(180deg);
			}
		}
	}
	.price-range {
		.price-input {
			width: 40px;
			height: 30px;
			border-radius: 5px;
			margin-right: 5px;
			border: 2px solid $secondary-bg-color;
			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}

			/* Firefox */
			&[type="number"] {
				-moz-appearance: textfield;
				appearance: textfield;
			}
		}
	}

	label {
		margin-right: 10px;
		font-size: 1.2rem;
	}

	input[type="checkbox"] {
		height: 15px;
		width: 15px;
	}
}

.category-container {
	padding-top: 30px;
	display: grid;
	grid-template-columns: 1fr 3fr;
}
.category-item-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}

.filter-options {
	height: 0;
	width: 0;
	visibility: hidden;

	&.open {
		height: auto;
		width: auto;
		visibility: visible;
	}
}

.apply-filter {
	margin: 20px 0;
	padding: 15px 25px;
	border-radius: 10px;
	border: none;
	background-color: $secondary-bg-color;
	color: #fff;
}

.search-result-header {
	margin-top: 100px;
	margin-bottom: 0;
	padding-bottom: 0;
	padding-left: 20px;
}

@media only screen and (max-width: 885px) {
	.category-container {
		grid-template-columns: 1fr;
	}
	.category-item-container {
		justify-content: center;
	}

	.filter-no-mobile.show {
		display: block;
	}

	aside {
		.filter-btn {
			p {
				font-size: 1.2rem;
			}
		}

		.price-range {
			.price-input {
				width: 30px;
				height: 20px;
				border-radius: 5px;
				margin-right: 5px;
			}
		}
	}
}
