@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
	font-family: "Lato", sans-serif;
	color: $main-text-color;
	// outline: 2px solid green;
}

body {
	margin: 0;
	padding: 0;
	position: relative;
}

// body.hide-overflow {
// 	position: fixed;
// 	height: 99vh;
// 	overflow: hidden;
// 	padding-right: 15px;
// }

.main-content-overall {
	margin-top: 50px;
}

.main-header {
	font-family: "Frank Ruhl Libre", serif;
	position: relative;
}

button {
	cursor: pointer;
}

.error-auth {
	font-size: 0.9rem;
	color: $red-bg-color;
}

.error-big {
	font-size: 1.2rem;
	color: $red-bg-color;
}
