@import "./variables";

.header-section {
	background-color: $section-bg-color;
	padding: 20px 100px;
	display: flex;
	justify-content: space-evenly;
	// width: 100%;

	.left {
		width: 400px;

		p {
			font-size: 1.3rem;
			line-height: 1.5;
		}

		button {
			padding: 15px 40px;
			border: none;
			background-color: $secondary-bg-color;
			color: #fff;
			font-size: 1rem;
			text-align: center;
			box-shadow: rgba(0, 0, 0, 0.8) 0px 20px 30px -10px;
		}
	}

	.header-img {
	}
}

.header-section-header {
	font-size: 4rem;
	padding-bottom: 0;
	margin-bottom: 0;
}

.arrivals {
	padding-top: 50px;
	h1 {
		text-align: center;
		font-size: 2.5rem;
		position: relative;
	}
}

.more-about-section {
	margin-top: 50px;
	// background-color: $section-bg-color;
	padding: 20px 100px;
	display: flex;
	justify-content: space-evenly;

	.right {
		width: 400px;

		p {
			font-size: 1.3rem;
			line-height: 1.5;
		}
	}

	img {
		object-fit: cover;
	}
}

@media only screen and (max-width: 1050px) {
	.more-about-section {
		flex-direction: column;
		align-items: center;
	}
}

@media only screen and (max-width: 785px) {
	.header-section {
		flex-direction: column;
		align-items: center;
		padding: 20px;

		.header-img {
			display: none;
		}
	}
}

@media only screen and (max-width: 450px) {
	.header-section {
		.left {
			width: unset;
		}
	}

	.more-about-section {
		padding: 20px;
		.right {
			width: unset;
		}

		img {
			// display: none;
			width: 300px !important;
		}
	}
}

// * {
// 	outline: 2px solid green;
// }
