@import "./variables";

.profile {
	padding: 10px 20px;
	min-height: 100vh;
	h1 {
		font-size: 3rem;
		font-weight: 800;
	}
	button {
		color: #fff;
		margin: 5px 0 20px;
		padding: 15px 30px;
		border: none;
		border-radius: 10px;
	}
}

.profile-info-header {
	margin-bottom: 2px;
	padding-bottom: 2px;
	font-weight: 700;
}

.profile-info {
	font-size: 1.2rem;
	font-weight: 500;
	margin-top: 0;
}

button.address {
	background-color: $secondary-bg-color;
}

button.logout {
	background-color: $red-bg-color;
}
